{% extends 'game/index.html' %}
{% block title %}forget password{% endblock %}
{% load material_form %}
{% block content %}
<div class='row'>
<div class='col s12 m8 l6 offset-m2 offset-l3'>
<div class='card-panel'>
<p>Forgot Password</p>
<form action='{% url 'forget' %}' method="POST">
{% csrf_token %}
{% form form=f %}{% endform %}
<div class='row'>
<div class='col s12'>
<button type="submit" id ="submit" name="submit" class="btn waves-effect waves-light left">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
{% endblock %}