.tile{
	height:142px;
	margin-left:1px;
}
#grid{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin:30px auto;
	padding: 3px 3px;
}
.tile{
        height: 142px;
        flex:0 0 142px;
        margin:4px 0;
        display: flex;
        justify-content:center;
        font-size: 70px;
        line-height: 142px;
}